version: '3.7'
services:
  app-tests:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.tests
    environment:
      app.url: http://app:8000
      spreaker.url: http://spreaker:8080
      spreaker.title_limit: 140
      google.url: http://google:8080
      wikipedia.url: http://en.wikipedia.org:8080
      TODAY: "2017-01-05"
    depends_on:
    - app
    - spreaker
    - google
    - en.wikipedia.org

  app:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    environment:
      PORT: 8000
      TODAY: "2017-01-05"

  spreaker:
    image: wiremock/wiremock

  google:
    image: wiremock/wiremock

  en.wikipedia.org:
    image: wiremock/wiremock
